<div class="container-fluid">
    <div class="col-md-6 col-lg-8">
      Search:
        <input class="form-control" type="text" [(ngModel)]="term" placeholder="search users">
  
          <button [routerLink]="['/thanks']"  class="btn btn-primary">Thank you</button>

    </div><br>

     <div class="col-lg-12 col-lg-8 col-md-6">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>IMAGE</th>
        <th>REPOSITORY</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users | filter:term">
        <td>{{item.id}}</td>
        <td>{{item.login}}</td>
        <td><img class="rounded-circle" src="{{item.avatar_url}}" alt="" style="height: 50px;width: 50px;"></td>
        <td><a href="{{item.repos_url}}" target="blank">{{item.repos_url}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
